.block {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  justify-content: space-between;
}

img.small {
  max-height: 30rem;
  width: 30%;
}

.card {
  background-color: black;
  padding: 1rem;
  margin: 0.5rem;
}

/* need to stylize more but I'll do them later */
button {
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #3a0ca3;
  /*  width: 100%; */
  cursor: pointer;
}
