@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');



.logo {

    filter: drop-shadow(0 0 0 0.75rem rgb(255, 217, 0));
}

.app-name {
    animation: pulsate 1s infinite alternate;
    font-size: 10vw;
    direction: column-reverse;
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: #ff006e;
    text-shadow: 0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ff006e,
        0 0 82px #ff006e,
        0 0 92px #ff006e,
        0 0 102px #ff006e,
        0 0 151px #ff006e;
}

@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #ff006e,
            0 0 80px #ff006e,
            0 0 90px #ff006e,
            0 0 100px #ff006e,
            0 0 150px #ff006e;
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #ff006e,
            0 0 45px #ff006e,
            0 0 55px #ff006e,
            0 0 70px #ff006e,
            0 0 80px #ff006e;
    }
}