.form-input {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #f1356d;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.blog-preview a {
    text-decoration: none;
}


.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

/* create new blog form */
.create {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}

.create label {
    text-align: left;
    display: block;
}

.create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.create button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.form-input {
    color: #f1356d;
}