nav {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    background-color: #ffbe0b;
    opacity: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

button {
    padding: 5px;
    border: none;
    background-color: transparent;
}